/*      This is ultimate responsive styles      */
/*      Created By: Shrikant Yadav              */  
/*      Contact: shrikant9907@gmail.com         */
/*      Web Developer and Desinger              */ 
/*      Version: 1.5.1                          */    
 
* {
    outline: none !important; 
}

img {
    max-width: 100%;
    height: auto;
} 

p {
    margin-bottom: 20px; 
}

.link,
a {
    color: #007bff;
}

.trans_02{
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;  
}   

/*Buttons */
.btn, .button, button, input[type='submit'], input[type='button'] {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*Alerts*/
.alert {
    box-shadow: 0px 3px 5px -4px rgba(0,0,0,0.7);
    padding: 5px 10px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
}

/*Background Colors*/
.bg_grey {
    background-color: #F1F1F1 !important;
}

.bg_grey2 {
    background-color: #F2F2F2 !important;
}

.bg_purple {
    background-color: #eb3941 !important;
}

.bg_green {
    background-color: #69b76d !important; 
}

.bg_blue {
    background-color: #007bff !important; 
}

.bg_indigo {
    background-color: #6610f2 !important; 
}

.bg_purple {
    background-color: #6f42c1 !important; 
}

.bg_pink {
    background-color: #e83e8c !important; 
}

.bg_red {
    background-color: #dc3545 !important; 
}

.bg_orange {
    background-color: #fd7e14 !important;
}

.bg_yellow {
    background-color: #ffc107 !important;
}

.bg_green {
    background-color: #28a745 !important; 
}

.bg_teal {
    background-color: #20c997 !important;
}

.bg_cyan {
    background-color: #17a2b8 !important;
}

.bg_gray {
    background-color: #6c757d !important;
}

.bg_gray_dark {
    background-color: #343a40 !important;
}

.bg_primary {
    background-color: #007bff !important;
}

.bg_secondary {
    background-color: #6c757d !important;
}

.bg_success {
    background-color: #28a745 !important; 
}

.bg_info {
    background-color: #17a2b8 !important;
}

.bg_warning {
    background-color: #ffc107 !important; 
}

.bg_danger {
    background-color: #dc3545 !important;
}

.bg_light{
    background-color: #f8f9fa !important;
}

.bg_dark{
    background-color: #343a40 !important;
}
 
/*Heading Styles*/ 
.heading_style {
    text-align: center;
    width: 100%;
    display: block;
}

.heading_style.type_1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 16px;
    position: relative;
}

.heading_style.type_1 span {
    padding: 0 16px;
    z-index: 1;
    position: relative;
}

.heading_style.type_1:before {
    display: block;
    content: "";
    border-top: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    position: absolute;
    z-index: 0;
    width: 100%;
    max-width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -2px;
    height: 3px;
} 

/*section*/
.section_common_20 {
    padding: 20px 0px;
}
 
.section_common_20_10 {
    padding: 20px 0px 10px 0px;
}

.section_common_30 {
    padding: 30px 0px;
}

.section_common_30_20{
    padding: 30px 0px 20px 0px;
}  

.section_common_30_10{
    padding: 30px 0px 10px 0px;
}  

.section_common_40 {
    padding: 40px 0px;
}  

.section_common_40_30{
    padding: 40px 0px 30px 0px;
}  

.section_common_40_20{
    padding: 40px 0px 20px 0px;
}  

.section_common_40_10{
    padding: 40px 0px 10px 0px;
}  

.section_common_50 {
    padding: 50px 0px;
}  

.section_common_50_40 {
    padding: 50px 0px 40px 0px;
}  

.section_common_50_30 {
    padding: 50px 0px 30px 0px;
}  

.section_common_50_20 {
    padding: 50px 0px 20px 0px;
}  

.section_common_50_10 {
    padding: 50px 0px 10px 0px;
}  

.section_common_60 {
    padding: 60px 0px;
}  

.section_common_60_50 {
    padding: 60px 0px 50px 0px;
}  

.section_common_60_40 {
    padding: 60px 0px 40px 0px;
}  

.section_common_60_30 {
    padding: 60px 0px 30px 0px;
}  

.section_common_60_20 {
    padding: 60px 0px 20px 0px;
}  

.section_common_60_10 { 
    padding: 60px 0px 10px 0px;
}  

.section_common_70 {
    padding: 70px 0px;
}  

.section_common_70_60 {
    padding: 70px 0px 60px 0px;
} 

.section_common_70_50 {
    padding: 70px 0px 50px 0px;
}  

.section_common_70_40 {
    padding: 70px 0px 40px 0px;
}  

.section_common_70_30 {
    padding: 70px 0px 30px 0px;
}  

.section_common_70_20 {
    padding: 70px 0px 20px 0px;
}  

.section_common_70_10 {
    padding: 70px 0px 10px 0px;
}  

.section_common_80 {
    padding: 80px 0px;
}  

.section_common_80_70 {
    padding: 80px 0px 70px 0px;
} 

.section_common_80_60 {
    padding: 80px 0px 60px 0px;
} 

.section_common_80_50 {
    padding: 80px 0px 50px 0px; 
}  

.section_common_80_40 {
    padding: 80px 0px 40px 0px;
}  

.section_common_80_30 {
    padding: 80px 0px 30px 0px;
}  

.section_common_80_20 {
    padding: 80px 0px 20px 0px;
}  

.section_common_80_10 {
    padding: 80px 0px 10px 0px;
}  

/*Padding*/
.p_10 {
    padding:10px;
}

.p_l_10 {
    padding-left:10px !important;
}

.p_r_10 {
    padding-right:10px !important;
}
 
.p_t_10 {
    padding-top:10px !important;
}

.p_b_10 {
    padding-bottom:10px !important;
}
 
.p_x_10 {
    padding-right:10px;
    padding-left:10px;
}

.p_y_10 {
    padding-top:10px;
    padding-bottom:10px;
}

.p_20 {
    padding:20px;
}

.p_l_20 {
    padding-left:20px !important;
}

.p_r_20 {
    padding-right:20px !important;
}
 
.p_t_20 {
    padding-top:20px !important;
}

.p_b_20 {
    padding-bottom:20px !important;
}
 
.p_x_20 {
    padding-right:20px;
    padding-left:20px;
}

.p_y_20 {
    padding-top:20px;
    padding-bottom:20px;
}

.p_30 {
    padding:30px;
}

.p_l_30 {
    padding-left:30px !important;
}

.p_r_30 {
    padding-right:30px !important;
}
 
.p_t_30 {
    padding-top:30px !important;
}

.p_b_30 {
    padding-bottom:30px !important;
}
 
.p_x_30 {
    padding-right:30px;
    padding-left:30px;
}

.p_y_30 {
    padding-top:30px;
    padding-bottom:30px;
}

.p_40 {
    padding:40px;
}

.p_l_40 {
    padding-left:40px !important;
}

.p_r_40 {
    padding-right:40px !important;
}
 
.p_t_40 {
    padding-top:40px !important;
}

.p_b_40 {
    padding-bottom:40px !important;
}

.p_x_40 {
    padding-right:40px;
    padding-left:40px;
}

.p_y_40 {
    padding-top:40px;
    padding-bottom:40px;
}

.p_50 {
    padding:50px;
}

.p_l_50 {
    padding-left:50px !important;
}

.p_r_50 {
    padding-right:50px !important;
}
 
.p_t_50 {
    padding-top:50px !important;
}

.p_b_50 {
    padding-bottom:50px !important;
}

.p_x_50 {
    padding-right:50px;
    padding-left:50px;
}

.p_y_50 {
    padding-top:50px;
    padding-bottom:50px;
}

.p_60 {
    padding:60px;
}

.p_l_60 {
    padding-left:60px !important;
}

.p_r_60 {
    padding-right:60px !important;
}
 
.p_t_60 {
    padding-top:60px !important;
}

.p_b_60 {
    padding-bottom:60px !important;
}

.p_x_60 {
    padding-right:60px;
    padding-left:60px;
}

.p_y_60 {
    padding-top:60px;
    padding-bottom:60px;
}

.p_y_100 {  
    padding:100px 0;
}

.p_t_100 {
    padding-top:100px !important;
}

.p_b_100 {
    padding-bottom:100px !important;
}


 
/*Margins*/
.m_10 {
    margin:10px;
}

.m_l_10 {
    margin-left:10px !important;
}

.m_r_10 {
    margin-right:10px !important;
}
 
.m_t_10 {
    margin-top:10px !important;
}
 
.m_b_10 {     
    margin-bottom:10px !important;
}

.m_x_10 {
    padding-right:10px;
    padding-left:10px;
}

.m_y_10 {
    padding-top:10px;
    padding-bottom:10px;
}
 
.m_20 {
    margin:20px;
}

.m_l_20 {
    margin-left:20px !important;
}

.m_r_20 {
    margin-right:20px !important;
}
 
.m_t_20 {
    margin-top:20px !important;
}

.m_b_20 {
    margin-bottom:20px !important;
}

.m_x_20 {
    padding-right:20px;
    padding-left:20px;
}

.m_y_20 {
    padding-top:20px;
    padding-bottom:20px;
}
 
.m_30 {
    margin:30px;
}

.m_l_30 {
    margin-left:30px !important;
}

.m_r_30 {
    margin-right:30px !important;
}
 
.m_t_30 {
    margin-top:30px !important;
}

.m_b_30 {
    margin-bottom:30px !important;
}
 
.m_x_30 {
    padding-right:30px;
    padding-left:30px;
}

.m_y_30 {
    padding-top:30px;
    padding-bottom:30px;
}

.m_40 {
    margin:40px;
}

.m_l_40 {
    margin-left:40px !important;
}

.m_r_40 {
    margin-right:40px !important;
}
 
.m_t_40 {
    margin-top:40px !important;
}

.m_b_40 {
    margin-bottom:40px !important;
}
 
.m_x_40 {
    padding-right:40px;
    padding-left:40px;
}

.m_y_40 {
    padding-top:40px;
    padding-bottom:40px;
} 

.m_50 {
    margin:50px;
}

.m_l_50 {
    margin-left:50px !important;
}

.m_r_50 {
    margin-right:50px !important;
}
 
.m_t_50 {
    margin-top:50px !important;
}

.m_b_50 {
    margin-bottom:50px !important;
}
 
.m_x_50 {
    padding-right:50px;
    padding-left:50px;
}

.m_y_50 {
    padding-top:50px;
    padding-bottom:50px;
}

.m_60 {
    margin:60px;
}

.m_l_60 {
    margin-left:60px !important;
}

.m_r_60 {
    margin-right:60px !important;
}
 
.m_t_60 {
    margin-top:60px !important;
}

.m_b_60 {
    margin-bottom:60px !important;
}
 
.m_x_60 {
    padding-right:60px;
    padding-left:60px;
}

.m_y_60 {   
    padding-top:60px; 
    padding-bottom:60px;
}      
 
/*Font Size*/
.f_12_14 {
    font-size: 12px;
    line-height: 14px !important;
} 

.f_12_16 {
    font-size: 12px;
    line-height: 16px !important;
} 

.f_12_18 {
    font-size: 12px;
    line-height: 16px !important;
} 

.f_14_16 {
    font-size: 14px;
    line-height: 16px !important;
} 

.f_14_18 {
    font-size: 14px;
    line-height: 18px !important;
} 

.f_14_20 {
    font-size: 14px;
    line-height: 20px !important;
} 

.f_16_18 {
    font-size: 16px;
    line-height: 18px !important;
}

.f_16_20 {
    font-size: 16px;
    line-height: 20px !important;
}
 
.f_16_22 {
    font-size: 16px;
    line-height: 22px !important;
} 

.f_16_24 {
    font-size: 16px;
    line-height: 24px !important;
} 

.f_16_26 {
    font-size: 16px;  
    line-height: 26px !important;
} 


.f_18_18 {
    font-size: 18px;
    line-height: 18px !important;
}

.f_18_20 {
    font-size: 18px;
    line-height: 20px !important;
}

.f_18_22 {
    font-size: 18px;
    line-height: 22px !important;
}

.f_18_24 {
    font-size: 18px;
    line-height: 24px !important;
}

.f_18_26 {
    font-size: 18px;
    line-height: 26px !important;
}

.f_20_22 {
    font-size: 20px;
    line-height: 22px !important;
}

.f_20_24 {
    font-size: 20px;
    line-height: 24px !important;
}

.f_20_26 {
    font-size: 20px;
    line-height: 26px !important;
}

.f_20_28 {
    font-size: 20px;
    line-height: 28px !important;
}

.f_24_26 {
    font-size: 24px;
    line-height: 26px !important;
}

.f_24_28 {
    font-size: 24px;
    line-height: 28px !important;
}

.f_24_30 {
    font-size: 24px;
    line-height: 30px !important;
}

.f_24_32 {
    font-size: 24px;
    line-height: 30px !important;
}

.f_26_28 {
    font-size: 26px;
    line-height: 26px !important;
}

.f_26_30 {
    font-size: 26px;
    line-height: 30px !important;
}

.f_26_32 {
    font-size: 26px;
    line-height: 32px !important;
}

.f_26_34 {
    font-size: 26px;
    line-height: 34px !important;
}

.f_26_36 {
    font-size: 26px;
    line-height: 36px !important;
}

.f_28_30 {
    font-size: 28px;
    line-height: 30px !important;
}

.f_28_32 {
    font-size: 28px;
    line-height: 32px !important;
}

.f_28_34 {
    font-size: 28px;
    line-height: 34px !important;
}

.f_28_36 {
    font-size: 28px;
    line-height: 36px !important;
}

.f_28_38 {
    font-size: 28px;
    line-height: 38px !important;
}

.f_30_32 {
    font-size: 30px;
    line-height: 32px !important;
}

.f_30_34 {
    font-size: 30px;
    line-height: 34px !important;
}

.f_30_36 {
    font-size: 30px;
    line-height: 36px !important;
}

.f_30_38 {
    font-size: 30px;
    line-height: 38px !important;
}

.f_30_40 {
    font-size: 30px;
    line-height: 40px !important;
}

.f_40_42 {
    font-size: 40px;
    line-height: 42px !important;
}

.f_40_44 {
    font-size: 40px;
    line-height: 44px !important;
}

.f_40_46 {
    font-size: 40px;
    line-height: 46px !important;
}

.f_40_48 {
    font-size: 40px;
    line-height: 48px !important;
}

.f_40_50 {
    font-size: 40px;
    line-height: 50px !important;
}

.f_50_50 {
    font-size: 50px;
    line-height: 50px !important;
}

.f_50_54 {
    font-size: 50px;
    line-height: 54px !important;
}

.f_50_56 {
    font-size: 50px;
    line-height: 56px !important;
}

.f_50_58 {
    font-size: 50px;
    line-height: 58px !important;
}

.f_50_58 {
    font-size: 50px;
    line-height: 60px !important;
} 

/*Width Fixed*/
.w_1000 {
    width: 1000px;
    max-width: 100%;
}

.w_900 {
    width: 900px;
    max-width: 100%;
}

.w_800 {
    width: 800px;
    max-width: 100%;
}

.w_700 {
    width: 700px;
    max-width: 100%;
}
 
.w_600 {
    width: 600px;
    max-width: 100%;
}

.w_500 {
    width: 500px;
    max-width: 100%;
}

.w_400 {
    width: 400px;
    max-width: 100%;
}

.w_300 {
    width: 300px;
    max-width: 100%;
} 
 
.w_200 {
    width: 200px;
    max-width: 100%;
}
 
.w_100 { 
    width: 100px;
    max-width: 100%;
}  
 
/*Width Per*/ 
.w_100p {
    width: 100%;
}

.w_80p { 
    width: 80%;
}

.w_60p {
    width: 60%;
}

.w_50p {
    width: 50%;
}

.w_40p {
    width: 40%;
}

.w_33p {
    width: 33.33%;
}

.w_30p {
    width: 30%;
}
 
.w_25p {
    width: 25%;
}

.w_20p {
    width: 20%;
}

/*Max Width*/
.w_mx_100p {
    max-width: 100%;
    flex: 0 0 100%;
}
 
.w_mx_50p {
    max-width: 50%;
    flex: 0 0 50%;
} 

 
/* Transparent Background Black*/
.bg_b_a_9 {
    background: rgba(0,0,0,0.9);
}

.bg_b_a_8 {
    background: rgba(0,0,0,0.8);
}

.bg_b_a_7 {
    background: rgba(0,0,0,0.7);
}

.bg_b_a_6 {
    background: rgba(0,0,0,0.6);
}

.bg_b_a_5 {
    background: rgba(0,0,0,0.5);
}

.bg_b_a_4 {
    background: rgba(0,0,0,0.4);
}

.bg_b_a_3 {
    background: rgba(0,0,0,0.3);
}

.bg_b_a_2 {
    background: rgba(0,0,0,0.2);
}

.bg_b_a_1 {
    background: rgba(0,0,0,0.1);
}  

/* Transparent Background White*/
.bg_w_a_9 {
    background: rgba(255,255,255,0.9);
}

.bg_w_a_8 {
    background: rgba(255,255,255,0.8);
}

.bg_w_a_7 {
    background: rgba(255,255,255,0.7);
}

.bg_w_a_6 {
    background: rgba(255,255,255,0.6);
}

.bg_w_a_5 {
    background: rgba(255,255,255,0.5);
}

.bg_w_a_4 { 
    background: rgba(255,255,255,0.4);
}

.bg_w_a_3 {
    background: rgba(255,255,255,0.3);
}

.bg_w_a_2 {
    background: rgba(255,255,255,0.2);
}

.bg_w_a_1 {
    background: rgba(255,255,255,0.1);
} 

/*Overlay*/
.mask_w,
.overlay_w {
    background: rgba(255,255,255,0.5);
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom: 0px; 
    z-index: 999;
}

.mask_b,
.overlay_b {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom: 0px;
    z-index: 999;
}

/*Fixed To Top*/ 
.fixed_top {
    position: fixed;
    top:0px;
    bottom:unset !important;
    left: 0px;
    right: 0px; 
}

/*Fixed To Bottom*/ 
.fixed_bottom {
    position: fixed;
    top:unset !important;
    bottom:0px;
    left: 0px;
    right: 0px; 
}

/*Fixed Top Right*/ 
.fixed_top_right {
    position: fixed;
    bottom:unset !important;
    top: 0px;
    right: 0px; 
    left: unset !important;
}

/*Fixed Top Left*/ 
.fixed_top_left {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom:unset !important;
    right: unset !important;
}

/*Fixed Bottom Right*/ 
.fixed_bottom_right {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    top: unset !important;
    left: unset !important;
}

/*Fixed bottom Left*/ 
.fixed_bottom_left {
    position: fixed;
    bottom: 0px; 
    left: 0px;
    right: unset !important;
    top: unset !important;
}

/*Box Shadow*/
.box_shw {
    box-shadow: 0px -1px 5px 0px #444444 !important;
} 

.box_shw2 {
    box-shadow: rgba(0,0,0,.12) 0 0 25px !important;
}

.box_shw3 {
    box-shadow: 2px 2px 9px 5px #f5f5f5 !important;
}
  
.section_shw {
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2) !important;
}

/*Button Shadow*/
.btn_shw {
    box-shadow: 0px 3px 5px -4px rgba(0,0,0,0.7) !important;
}  


/*Button Close*/
.close_times {
    color: #fff;
    font-size: 26px;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    font-weight: bold;
}

.close_times.black {
    color: #000;
}

.close_times.outlined {
    border: 1px solid #fff;
    border-radius: 100%;
}

.close_times.outlined.inverse {
    border: 1px solid #fff;
    border-radius: 100%;
    background: #ffffff;
    color:#000;
}

/*Heights*/
.h_10 {
    height: 10px;
}

.h_20 {
    height: 20px;
}

.h_30 {
    height: 30px;
}

.h_40 {
    height: 40px;
}

.h_50 {
    height: 50px;
}

.h_100 {
    height: 100px;
}

.h_200 {
    height: 200px;
}

.h_300 {
    height: 300px;
}   

.h_400 {
    height: 400px;
}   

.h_500 {
    height: 500px;
}

.h_600 {
    height: 600px;
}

.box_vheight_100,
.h_100,
.vh_100,
.box_height_100_ {
    height: 100vh; 
}

.mi_h_100,
.box_height_100 {
    min-height: 100px;
}

.mi_h_200,
.box_height_200 {
    min-height: 200px;
}

.mi_h_300,
.box_height_300 {
    min-height: 300px;
}   

.mi_h_400,
.box_height_400 {
    min-height: 400px;
}   

.mi_h_500,
.box_height_500 {
    min-height: 500px;
}

.mi_h_600,
.box_height_600 {
    min-height: 600px;
}

.mx_h_100 {
    max-height: 100px;
}

.mx_h_200 {
    max-height: 200px;
}

.mx_h_300 {
    max-height: 300px;
}   

.mx_h_400 {
    max-height: 400px;
}   

.mx_h_500 {
    max-height: 500px;
}

.mx_h_600 {
    max-height: 600px;
}

.box_scroll_hidden {
    overflow: hidden;
}

.box_x_scrollable {
    overflow: hidden;
    overflow-x: scroll !important;
}

.box_y_scrollable {
    overflow: hidden;
    overflow-y: scroll !important; 
}

/*Hover Effects*/
.hover_scale_11:hover {
    transform: scale(1.1);
}

.hover_scale_12:hover {
    transform: scale(1.2);
}

.hover_scale_13:hover {
    transform: scale(1.3);
}

.hover_scale_14:hover {
    transform: scale(1.5);
}

.hover_scale_15:hover {
    transform: scale(1.5);
}

/*Text Decoration*/
.t_d_n, 
.tdn {
    text-decoration: none !important;
}

/*Cursor*/ 
.c_p {
    cursor: pointer;
}

.c_d {
    cursor: default;
}  

/*Text Styles*/
.font_bold {
    font-weight: bold !important;
}

.f_l_h_0 {
    line-height: 0px !important;
}

.f_l_h_12 {
    line-height: 12px !important;
}

.f_l_h_14 {
    line-height: 14px !important;
}

.f_l_h_16 {
    line-height: 16px !important;
}

.f_l_h_18 {
    line-height: 18px !important;
}

.f_l_h_20 {
    line-height: 20px !important;
}

.f_l_h_22 {
    line-height: 22px !important;
}

.f_l_h_24 {
    line-height: 24px !important;
}

.f_l_h_26 {
    line-height: 26px !important;
}

.f_l_h_28 {
    line-height: 28px !important;
}

.f_l_h_30 {
    line-height: 30px !important;
}

.f_l_h_32 {
    line-height: 32px !important;
}

.f_l_h_34 {
    line-height: 34px !important;
}

.f_l_h_36 {
    line-height: 36px !important;
}

.f_l_h_38 {
    line-height: 38px !important;
}

.f_l_h_40 {
    line-height: 40px !important;
}

.f_l_h_42 {
    line-height: 42px !important;
}

.f_l_h_44 {
    line-height: 44px !important;
}

.f_l_h_46 {
    line-height: 46px !important;
}

.f_l_h_48 {
    line-height: 48px !important;
}

.f_l_h_50 {
    line-height: 50px !important;
}

.f_l_h_60 {
    line-height: 60px !important;
}

.f_l_h_70 {
    line-height: 70px !important;
} 

/*Border*/
.border_top_1 {
    border-top: 1px solid rgba(0,0,0,.125) !important;
}

.border_bottom_1 {
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
  
.border_top_0 {
    border-top: none !important;
}

.border_bottom_0 {
    border-bottom: none !important;
}

/*Button Sizes*/
.btn_large {
    padding: 12px 30px !important;
    font-size: 16px !important;
}

.btn_small {
    padding: 10px 20px !important;
    font-size: 12px !important;
}

/*rounded*/
.r_100p {
    border-radius: 100% !important;
}

.r_50p {
    border-radius: 50% !important;
}

.r_100 {
    border-radius: 100px !important;
}

.r_50 {
    border-radius: 50px !important;
}

.r_30 {
    border-radius: 30px !important;
}

.r_20 {
    border-radius: 20px !important;
}

.r_10 {
    border-radius: 10px !important;
}

.r_5 {
    border-radius: 5px !important;
}

.r_4 {
    border-radius: 4px !important;
} 

.r_3 {
    border-radius: 3px !important;
}
  
.r_2 {
    border-radius: 2px !important;
}
 
/*Site Logo*/ 
.site_logo {
    padding: 0; 
    width: 200px;
    border-radius: 4px;
    margin: 12px 0;
}

.site_logo a {
    text-decoration: none;
}

.logo_wr img {
    width: 200px;
}

.site_logo span.logo_text {
    display: block;
    line-height: 28px;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: black;
} 



/************************** Components ***************************/

/*Accordion CSS*/
.accordion_design1 {
    box-shadow: 0 1px 18px 10px rgba(0,0,0,0.02);
    margin-bottom:50px;
}	

.accordion_design1 .card {
    border:none;
    border-bottom: 1px dashed #007bff;
	border-radius: 4px;
}
 
.accordion_design1 .card-header {
	padding: 15px;
	border-radius: 4px;
	border:none;
}

.accordion_design1 .card-header .card-count {
    border-radius: 100%;
    border: 1px solid #ffffff;
    width: 30px;
    display: inline-block;
    text-align: center;
    padding: 3px 0;
    font-size: 14px;
    margin-right: 8px;
    height: 30px;
    color: #ffffff;
}

.accordion_design1 .card-header .card-title {
    font-weight: normal;
}

.accordion_design1 .card-header a {
    text-decoration: none;
    background: #007bff;
    color: #ffffff;
    font-weight: normal;
}

.accordion_design1 .card-header a.collapsed {
    background: #f2f2f2;
    color: #000;
}

.accordion_design1 .card-header a.collapsed .card-count {
    border-color: #007bff;
    color: #007bff;
}

.accordion_design1 .card-header h2, 
.accordion_design1 .card-header h3, 
.accordion_design1 .card-header h4, 
.accordion_design1 .card-header h5 {
    margin: 0px;
    font-size: 18px;
    line-height: 22px;
}

.accordion_design1 .card.active .card-header .card-count  {
	 background: #ffffff;
	 border-color: #ff7544;
	 color: #FF9671;
}

/* Accordion Design 2*/
.accordion_design2 {
    background: #ffffff;
}

.accordion_design2 .card-header {
    background: #007bff;
}

.accordion_design2 .card-header a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

.accordion_design2 .card-header a i {
    right: 15px;
    top: 18px;
}

.accordion_design2 .card-header a.collapsed i.fa-caret-down,
.accordion_design2 .card-header a i.fa-caret-left {
    display: block !important;
}

.accordion_design2 .card-header a i.fa-caret-down,
.accordion_design2 .card-header a.collapsed i.fa-caret-left {
    display: none !important;
}
 
/* Accordion Design 3 */
.accordion_design3 {
    background: #ffffff;
}

.accordion_design3 .card-header {
	background: #007bff;
}

.accordion_design3 .card-header a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

.accordion_design3 .card-header a i {
	right: 15px;
	top: 18px;
}

.accordion_design3 .card-header a.collapsed i.fa-plus,
.accordion_design3 .card-header a i.fa-minus {
	display: block !important;
}

/* Card with icon1 */
.card_with_icon1  {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card_with_icon1 .card-icon {
    width: 80px;
    height: 80px;
    background: #007bff;
    font-size: 30px;
    left: 20px;
    top: 50%; 
    margin-top: -40px;
}

.card_with_icon1 {
    padding-left: 100px !important;
}

.card_with_icon1.right_icon .card-icon {
    left: unset;
    right: 20px;
}

.card_with_icon1.right_icon {
    padding-right: 100px !important;
    padding-left: 0 !important;
}

.card_with_icon1.top_icon {
    padding-left: 0 !important;
}

.card_with_icon1.top_icon .card-icon {
    left: unset;
}

.card_with_icon1:hover {
    background: #007bff;
    color: #ffffff;
}

.card_with_icon1:hover .card-icon {
    background: #ffffff;
    color:  #007bff !important;
}

/* Card with Icon 2 */
.card_with_icon2 {
	background: white;
	moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-color: #007bff;
}

.card_with_icon2 .card-icon {
    width: 80px;
    height: 80px;
    background: #007bff;
    font-size: 30px;
}

/*Hover Effect*/
.card_with_icon2:hover {
	background: #007bff;
	color: #ffffff;
	border-color: #007bff;
}

.card_with_icon2:hover .card-icon {
	background: #fff;
	color:  #007bff !important;
}

.card_with_icon2:hover a {
    color:#ffffff;
}

/* Card with Icon 3 */
.card_with_icon3 {
    background: white;
    border:1px solid #ccc !important;
    moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card_with_icon3 .card-icon {
    width: 80px;
    height: 80px;
    background: #007bff;
    font-size: 30px;
}

.card_with_icon3:hover {
    border:1px solid #ffffff !important;
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.06);
}

/* Testimonials 1 */
.testimonials_card1 {
	background: #fff;
}

.testimonials_card1 .card_image {
	width: 80px;
    height: 80px;
    font-size: 30px;
}
.testimonials_card1 .card-icon {
	width: 40px;
    height: 40px;
    background: #007bff;
    font-size: 16px;
    top: 89px;
    right: 50%;
    margin-right: -44px;
}

/* Testimonials 2 */
.testimonials_card2 {
	background: #fff;
}

.testimonials_card2 .card_image {
	width: 80px;
    height: 80px;
    font-size: 30px;
}
.testimonials_card2 .card-icon {
    top: 37px;
    left: 50%;
    color: #007bff;
    font-size: 250px;
    opacity: 0.1;
    z-index: 0;
    line-height: 200px;
    margin-left: -120px;
}

/* Testimonials 3 */
.testimonials_card3 {
	background: #ffffff;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.04);
}

.testimonials_card3 .card_image {
	width: 80px;
    height: 80px;
    font-size: 30px;
}
.testimonials_card3 .card-icon {
    top: 17px;
    left: 25px;
    color: #007bff;
    font-size: 100px;
    opacity: 0.1;
    z-index: 0;
    line-height: 100px;
}

.testimonials_card3 .card-icon.card-icon2 {
    top: unset;
    bottom: 16px;
    left: unset;
    right: 24px;
}

/* Pricing Tables */
.pricing_card1 {
	background: #ffffff;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.04);
}

.pricing_card1 .card-title {
	font-size: 14px;
}

.pricing_card1 .card-price {
    display: inline-block;
}

.pricing_card1 .card-price .price {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -2px;
}

.pricing_card1 .card-price .symbol {
    font-size: 16px;
    left: -14px;
    top: 11px;
}

.pricing_card1 .card-price .period {
    right: -26px;
    bottom: 10px;
}

.pricing_card1 .btn {
	font-size: 14px;
}

/* Pricing Table 2 */
.price_tables_wr .pricing_card2 {
	background: rgba(183,233,255, 0.2);
	border:none;
	overflow: hidden;
}

.price_tables_wr .col:nth-child(2) .pricing_card2{
	background: rgba(183,233,255, 0.6);
	top:-10px;
}

.price_tables_wr .col:nth-child(3) .pricing_card2{
	background: rgba(183,233,255, 0.2);
}

.pricing_card2 .card-title {
	font-size: 14px;
}

.pricing_card2 .popular {
    position: absolute;
    background: #007bff;
    color: #fff;
    padding: 1px 27px;
    font-size: 14px;
    transform: rotate(-45deg);
    left: -32px;
    top: 25px;
}

.pricing_card2 .card-price {
    display: inline-block;
}

.pricing_card2 .card-price .price {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -2px;
}

.pricing_card2 .card-price .symbol {
    font-size: 16px;
    left: -14px;
    top: 11px;
}

.pricing_card2 .card-price .period {
    right: -26px;
    bottom: 10px;
}

.pricing_card2 .btn {
	font-size: 14px;
}

/* Pricing Table 3 */
.price_tables_wr .pricing_card3 {
	background: #B10031;
	border:none;
}

.price_tables_wr .col:nth-child(2) .pricing_card3{
	background: #9A59FF;
	/*top:-10px;*/
}

.price_tables_wr .col:nth-child(3) .pricing_card3{
	background: #FE005A;
}

.pricing_card3 .card-title {
	font-size: 14px;
}

.pricing_card3 .popular {
    position: absolute;
    background: #ffc107;
    color: #000;
    padding: 6px 27px;
    font-size: 14px;
    left: -4%;
    top: -30px;
    width: 108%;
    z-index: 99;
}

.pricing_card3 .popular:before {
    display: block;
    content: '';
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 20px solid #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

.pricing_card3 .popular:after {
    display: block;
    content: '';
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: 20px solid #ffffff;
    position: absolute;
    top: 0;
    right: 0;
}

.pricing_card3 .card-price {
    display: inline-block;
}

.pricing_card3 .card-price .price {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -2px;
}

.pricing_card3 .card-price .symbol {
    font-size: 16px;
    left: -14px;
    top: 11px;
}

.pricing_card3 .card-price .period {
    right: -26px;
    bottom: 10px;
}

.pricing_card3 .btn {
	font-size: 14px;
}

/* Pricing Table 4 */

.price_tables_wr .pricing_card4 {
    background: #FF917E;
    box-shadow: 0 0 14px -6px #FF917E;
    border: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.price_tables_wr .col:nth-child(2) .pricing_card4{
	background: #FFC65F;
    box-shadow: 0 0 14px -6px #FFC65F;
}

.price_tables_wr .col:nth-child(3) .pricing_card4{
	background: #cac9ff;
    box-shadow: 0 0 14px -6px #cac9ff;
}

.price_tables_wr .col:nth-child(4) .pricing_card4{
	background: #c7de68;
    box-shadow: 0 0 14px -6px #c7de68;
}

.price_tables_wr .pricing_card4:hover {
	box-shadow: unset;
	-moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-o-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03); 
}

.pricing_card4 .card-title {
	font-size: 14px;
}

.pricing_card4 .popular {
    position: absolute;
    background: #ffc107;
    color: #000;
    padding: 6px 27px;
    font-size: 14px;
    left: -4%;
    top: -30px;
    width: 108%;
    z-index: 99;
    box-shadow: 1px 4px 3px -4px #b38601;
}

.pricing_card4 .popular:before {
    display: block;
    content: '';
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 20px solid #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

.pricing_card4 .popular:after {
    display: block;
    content: '';
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: 20px solid #ffffff;
    position: absolute;
    top: 0;
    right: 0;
}

.pricing_card4 .card-price {
    display: inline-block;
}

.pricing_card4 .card-price .price {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -2px;
}

.pricing_card4 .card-price .symbol {
    font-size: 16px;
    left: -14px;
    top: 11px;
}

.pricing_card4 .card-price .period {
    right: -26px;
    bottom: 10px;
}

.pricing_card4 .btn {
	font-size: 14px;
} 

/* Pricing Card 5 */
.pricing_table5 {
	background: #ffffff;
    
}

.pricing_table5 .card-title {
	font-size: 14px;
}

.pricing_table5 .card-price {
    display: inline-block;
}

.pricing_table5 .card-price .price {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -2px;
}

.pricing_table5 .card-price .symbol {
    font-size: 16px;
    left: -14px;
    top: 11px;
}

.pricing_table5 .card-price .period {
    right: -26px;
    bottom: 10px;
}

.pricing_table5 .btn {
	font-size: 14px;
}

.pricing_table5 i {
	color: red;
	font-size: 10px;
	margin-right: 5px;
	margin-right: 5px;
}
.pricing_table5 li {
	font-size: 14px;
}

/* Team Card */
.card_team1{
    box-shadow: 2px 2px 9px 5px whitesmoke;
    border: 1px solid white;
    border-radius: 8px;
    padding: 27px 15px 16px 15px;
}

.card_team1 .card-title p{
	text-align: center;
    line-height: 12px;
}

.card_team1 .card-header .img_circle{
	border-radius: 100%;
	border:4px solid silver;
	margin:0px auto;
	width: 100px;
	height: 100px;
    overflow: hidden;
}

.card_team1 .card-header .images{
    margin: 0px auto;
    width: 100%;
}

.card_team1 .card-body .separator{
    height: 4px;
    background: #0062cc;
    width: 40px;
    margin: 0px auto 12px auto;		
} 

/*Social Links*/
.social_links {
    clear: both;
    display: inline-block;
}

.social_links a {
    padding: 15px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}     

.social_links.boxed a {
    width: 45px;
    height: 45px;
    padding: 11px;
    text-align: center;
    border: 1px solid #ffffff;
    float: left;
    margin-right: 10px;
}

.social_links.boxed a {
    width: 45px;
    height: 45px;
    padding: 11px;
    text-align: center;
    border: 1px solid #ffffff;
    float: left;
    margin-right: 10px;
}

.social_links.boxed.rounded a {
    border-radius: 100%;
}

/* Scroll Down */ 
.mouse_scroll_down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
}
.mouse_scroll_down .mouse {
    width: 40px;
    padding: 6px 16px;
    height: 60px;
    border: 2px solid rgba(0,0,0,0.8);
    border-radius: 25px;
    background: rgba(0,0,0,0.1);
}

.mouse_scroll_down .mouse.light {
    border: 2px solid rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.1);
}

.mouse_scroll_down .scroller {
    width: 4px;
    height: 12px;
    border-radius: 100%;
    background-color: #000;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

.mouse_scroll_down .mouse.light .scroller {
   background: rgba(255,255,255);
}

@keyframes scroll {
    0% { opacity: 0; }
    12% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(20px); opacity: 0;}
}

/*Page Scrolled Header*/
.scrolled header#main_header {
    background-color: #ffffff;
    box-shadow: 0px -1px 5px 0px #444444;
    margin-top: 0;
    height: 60px;
} 

.scrolled a.nav-link {
    padding: 18px 28px !important;
    color:#343a40 !important;
}

.scrolled header .text-white {
    color:#343a40 !important; 
} 


/*Footer*/
.footer_style1 ul {
    padding: 0;
    list-style: none;
}

.footer_style1 ul li {
    padding: 5px 0;
}

.footer_style1 ul li a {
    text-decoration: none;
    color: #212121;
}



/*Responsive Start*/


/*Mobile Responsive*/ 
@media all and (max-width: 500px) {

    .col,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10 {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
    }
    
    .navbar-toggler {
            background: #fff;
            border: 1px solid #e64a19;
            padding: 4px;
            position: absolute;
            top: -55px;
            right: 0px;
    }
    
    .navbar-toggler-icon {
        color: #ff5722;
        font-size: 20px;
        padding: 6px 5px;
    }
    
    
    header#main_header { 
        position: fixed !important;
    }
    
    .logo_wr {
            margin: 10px 0;
    }
    
    .scrolled a.nav-link,
    .header_menus .nav-link {
        padding: 10px !important;
        display: block;
        text-align: left;
        border-top: 1px solid #f2f2f2;
        color: #343a40 !important; 
    }
    
    .header_mobile_control .navbar.navbar-expand-lg {
            width: 100%;
    }

    .header_mobile_control .navbar.navbar-expand-lg  #navbarNavDropdown{
            background: #fff;
            padding: 0 0 50px 0;
    }
         
    div.city_select {
        width: 100%;
        margin: 0;
    }
    
    .header_btn_wr .btn {
        display: inline-block;
        width: 100%;
        margin: 10px 0 0px 0;
    }
    
    .home_banner h1 {
            margin: 0;
            font-size: 25px;
    }
    
    .home_banner h1 span.small {
        margin: 5px 0 10px 0;
        font-size: 20px;
        line-height: 24px;
    }
    
    .page-main-heading {
            padding: 10px 0;
            font-size: 25px;
            margin: 10px auto;
    }
    
    #homesearchtabcontentwr {
            width: 100%;
            margin: 10px 0;
    }
    
    #homesearchtabcontentwr ul {
        text-align: center;
        display: flex;
        border: none;
        margin-bottom: 7px;
    }
    
    #homesearchtabcontentwr ul li {
        display: inline-flex;
        width: 50%;
    }
    
    #homesearchtabcontentwr .nav-tabs .nav-link svg {
    width: 100%;
    }
    
    #homesearchtabcontentwr .nav-tabs .nav-link {
            padding: 5px 15px;
            width: auto;
            margin-bottom: 15px;
    }
    
    .form_advance_filter {
        padding: 0;
        background: transparent;
        border:none;
    }
    
    .form_advance_filter .col {
            margin-bottom: 10px;
    }
    
    .form_advance_filter .custom-select, .form_advance_filter .form-control {
        margin-bottom: 15px;
    }

    .home_banner {
            /*min-height: 0;*/
            padding-bottom: 30px; 
    }
    
    section.how_it_works {
        padding: 30px 0;
    }
    
    .main-heading {
        margin-bottom: 15px;
        font-size: 20px;
    }
    
    .how_it_works_list span::after {
        display: none;
    }
    
    .how_it_works_list {
            padding: 10px;
            margin-bottom: -2px;
            box-shadow: none;
    }
    
    .how_it_works_list span {
        position: static;
        height: auto;
        line-height: 35px;
        width: 100%;
        display: block;
        margin-bottom: 12px;
    }   
    
    .how_it_works h3 {
        margin-top: 20px;
    }
    
    .update_wr {
        max-width: 100%;
    }
    
    .latest_update2.slider_arrow_design .slick-prev {
        left: 15px;
        top: 30px;
    }
    
    .latest_update2.slider_arrow_design .slick-next {
        right: 15px;
        top: 30px;
    }
    
    .testimonials_wr p {
        padding-left: 0;
        padding-right: 0;
    }
    
    .testimonials_wr span.before_quote {
            font-size: 30px !important;
            left: 2px;
            top: -5px;
    }
    
    .testimonials_wr span.after_quote {
            font-size: 30px !important;
    }
    
    .slider_arrow_design .slick-prev {
        left: 2px;
        top: 80px;
    }
    
    .slider_arrow_design .slick-next {
        right: 2px;
        top: 80px;
    }
    
    footer.footer-section .footer-part1 {
            padding: 30px 0;
            text-align: center;
    }
    
    .footer-part1 .col-md-3 {
        margin-bottom: 15px;
    }
    
    .footer-part2 .col-md-4.text-right,
    .footer-part2 .col-md-4.text-left {
        text-align: center !important;
        display: block;
    }
    
    footer.footer-section .social_links a {
        display: inline-block;
        padding: 12px 0;
        font-size: 16px;
        width: 20%;
    }
    
    form.form_contant {
        background: #fff;
        padding: 20px;
        margin-top: -118px;
        margin-left: -161px;
     }
     
    .page_content_section .page_content {
           padding: 30px 10px 15px 10px !important;
    }
    
    .faq_vertical_menus {
        width: 100%;
        position: static;
        left: 0;
        margin-bottom: 15px;
    }
    
    
}